{
  "swagger": "2.0",
  "info": {
    "title": "Channel Service API",
    "description": "Channel Management Service",
    "version": "0.0.1"
  },
  "tags": [
    {
      "name": "ChannelService"
    }
  ],
  "host": "channels.agoraproject.ru",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/textchannel": {
      "post": {
        "summary": "Create text channel",
        "operationId": "ChannelService_CreateTextChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateTextChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateTextChannelRequest"
            }
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/textchannel/guild/{id}": {
      "get": {
        "summary": "Get text channel by Guild Id",
        "operationId": "ChannelService_GetTextChannelByGuildId",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetTextChannelByGuildIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/textchannel/{id}": {
      "get": {
        "summary": "Get text channel by Id",
        "operationId": "ChannelService_GetTextChannelById",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetTextChannelByIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete text channel",
        "operationId": "ChannelService_DeleteTextChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteTextChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update text channel",
        "operationId": "ChannelService_UpdateTextChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateTextChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelServiceUpdateTextChannelBody"
            }
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/voicechannel": {
      "post": {
        "summary": "Create voice channel",
        "operationId": "ChannelService_CreateVoiceChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateVoiceChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateVoiceChannelRequest"
            }
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/voicechannel/guild/{id}": {
      "get": {
        "summary": "Get voice channel by Guild Id",
        "operationId": "ChannelService_GetVoiceChannelByGuildId",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetVoiceChannelByGuildIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/voicechannel/{id}": {
      "get": {
        "summary": "Get voice channel by Id",
        "operationId": "ChannelService_GetVoiceChannelById",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetVoiceChannelByIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "Delete voice channel",
        "operationId": "ChannelService_DeleteVoiceChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteVoiceChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "Update voice channel",
        "operationId": "ChannelService_UpdateVoiceChannel",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateVoiceChannelResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChannelServiceUpdateVoiceChannelBody"
            }
          }
        ],
        "tags": [
          "ChannelService"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "definitions": {
    "ChannelServiceUpdateTextChannelBody": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "nsfw": {
          "type": "boolean"
        },
        "slowmode": {
          "type": "integer",
          "format": "int64"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "isArchived": {
          "type": "boolean"
        }
      }
    },
    "ChannelServiceUpdateVoiceChannelBody": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "userLimit": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1CreateTextChannelRequest": {
      "type": "object",
      "properties": {
        "guildId": {
          "type": "string",
          "format": "uint64"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "nsfw": {
          "type": "boolean"
        },
        "slowmode": {
          "type": "integer",
          "format": "int64"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v1CreateTextChannelResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1TextChannel"
        }
      }
    },
    "v1CreateVoiceChannelRequest": {
      "type": "object",
      "properties": {
        "guildId": {
          "type": "string",
          "format": "uint64"
        },
        "title": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "userLimit": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "v1CreateVoiceChannelResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1VoiceChannel"
        }
      }
    },
    "v1DeleteTextChannelResponse": {
      "type": "object"
    },
    "v1DeleteVoiceChannelResponse": {
      "type": "object"
    },
    "v1GetTextChannelByGuildIdResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1TextChannel"
          }
        }
      }
    },
    "v1GetTextChannelByIdResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1TextChannel"
        }
      }
    },
    "v1GetVoiceChannelByGuildIdResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1VoiceChannel"
          }
        }
      }
    },
    "v1GetVoiceChannelByIdResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1VoiceChannel"
        }
      }
    },
    "v1TextChannel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "guildId": {
          "type": "string",
          "format": "uint64"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "nsfw": {
          "type": "boolean"
        },
        "slowmode": {
          "type": "integer",
          "format": "int64"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "isArchived": {
          "type": "boolean"
        }
      }
    },
    "v1UpdateTextChannelResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1TextChannel"
        }
      }
    },
    "v1UpdateVoiceChannelResponse": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/v1VoiceChannel"
        }
      }
    },
    "v1VoiceChannel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uint64"
        },
        "guildId": {
          "type": "string",
          "format": "uint64"
        },
        "title": {
          "type": "string"
        },
        "position": {
          "type": "integer",
          "format": "int32"
        },
        "userLimit": {
          "type": "integer",
          "format": "int64"
        }
      }
    }
  },
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "description": "JWT Bearer token",
      "name": "Authorization",
      "in": "header"
    }
  }
}
